<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/service.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a href="/missionary" class="navbar-brand">Missionaries</a>
                </div>

                <div class="navbar-collapse collapse" id="mobile_menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/missionary">Home</a></li>
                        <li><a href="/missionary/aboutUs">About us</a></li>
                        <li class="active"><a href="/missionary/services">Services</a></li>
                        <li><a href="/missionary/contacts">Contacts</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/missionary/login">Login</a></li>
                                <li><a href="/missionary/registration">Sign Up</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section -->
<section class="awe-section">
    <div class="container">

        <!-- title -->
        <div class="title">
            <h2 class="title__title">Services</h2>
            <p class="title__text">You can choose any service for read the information</p>
        </div><!-- End / title -->

        <div class="row">
            <div class="grid-css grid-css--masonry" data-col-lg="4" data-col-md="3" data-col-sm="2" data-col-xs="1" data-gap="30">
                <div class="grid__inner" style="position: relative; height: 600px;">
                    <div class="grid-sizer"></div>
                    <div class="grid-item" style="position: absolute; left: 150px; top: 0px; width: 300px;">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">

                                <!-- box-image -->
                                <div class="box-image" href="assets/img/image_box_1/1.jpg">
                                    <div><a class="box-image__bg" href="/missionary/services/health" style="background-image: url('/images/service-page/img.png');" data-effect="mfp-zoom-in"><img src="/images/service-page/img.png" alt="">
                                        <div class="box-image__info">
                                            <h4 class="box-image__country">Health</h4>
                                            <p class="box-image__tour"></p>
                                        </div></a></div>
                                </div><!-- End / box-image -->

                            </div>
                        </div>
                    </div>
                    <div class="grid-item" style="position: absolute; left: 450px; top: 0px; width: 300px;">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">

                                <!-- box-image -->
                                <div class="box-image" href="assets/img/image_box_1/2.jpg">
                                    <div><a class="box-image__bg" href="assets/img/image_box_1/2.jpg" style="background-image: url('/images/service-page/img_1.png');" data-effect="mfp-zoom-in">
                                        <img src="/images/service-page/img_1.png" alt="">
                                        <div class="box-image__info">
                                            <h4 class="box-image__country">Legal assistance</h4>
                                            <p class="box-image__tour"></p>
                                        </div></a></div>
                                </div><!-- End / box-image -->

                            </div>
                        </div>
                    </div>
                    <div class="grid-item" style="position: absolute; left: 750px; top: 0px; width: 300px;">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">

                                <!-- box-image -->
                                <div class="box-image" href="assets/img/image_box_1/3.jpg">
                                    <div><a class="box-image__bg" href="" style="background-image: url('/images/service-page/img_2.png');" data-effect="mfp-zoom-in"><img src="/images/service-page/img_2.png" alt="">
                                        <div class="box-image__info">
                                            <h4 class="box-image__country">Overnight stay</h4>
                                            <p class="box-image__tour"></p>
                                        </div></a></div>
                                </div><!-- End / box-image -->

                            </div>
                        </div>
                    </div>
                    <div class="grid-item" style="position: absolute; left: 150px; top: 300px; width: 300px;">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">

                                <!-- box-image -->
                                <div class="box-image" href="assets/img/image_box_1/4.jpg">
                                    <div><a class="box-image__bg" href="" style="background-image: url('/images/service-page/img_3.png');" data-effect="mfp-zoom-in">
                                        <img src="/images/service-page/img_3.png" alt="">
                                        <div class="box-image__info">
                                            <h4 class="box-image__country">Financial assistance</h4>
                                            <p class="box-image__tour"></p>
                                        </div></a></div>
                                </div><!-- End / box-image -->

                            </div>
                        </div>
                    </div>
                    <div class="grid-item" style="position: absolute; left: 450px; top: 300px; width: 300px;">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">

                                <!-- box-image -->
                                <div class="box-image" href="assets/img/image_box_1/5.jpg">
                                    <div><a class="box-image__bg" href="" style="background-image: url('/images/service-page/transfer1.png');" data-effect="mfp-zoom-in"><img src="/images/service-page/transfer1.png" alt="">
                                        <div class="box-image__info">
                                            <h4 class="box-image__country">Transfer</h4>
                                            <p class="box-image__tour"></p>
                                        </div></a></div>
                                </div><!-- End / box-image -->

                            </div>
                        </div>
                    </div>
                    <div class="grid-item" style="position: absolute; left: 750px; top: 300px; width: 300px;">
                        <div class="grid-item__inner">
                            <div class="grid-item__content-wrapper">

                                <!-- box-image -->
                                <div class="box-image" href="assets/img/image_box_1/6.jpg">
                                    <div><a class="box-image__bg" href="assets/img/image_box_1/6.jpg" style="background-image: url('/images/service-page/transport.png');" data-effect="mfp-zoom-in">
                                        <img src="/images/service-page/transport.png" alt="">
                                        <div class="box-image__info">
                                            <h4 class="box-image__country">Transportation support</h4>
                                            <p class="box-image__tour"></p>
                                        </div></a></div>
                                </div><!-- End / box-image -->

                            </div>
                        </div>
                    </div>
<!--                    <div class="grid-item" style="position: absolute; left: 600px; top: 300px; width: 300px;">-->
<!--                        <div class="grid-item__inner">-->
<!--                            <div class="grid-item__content-wrapper">-->

<!--                                &lt;!&ndash; box-image &ndash;&gt;-->
<!--                                <div class="box-image" href="assets/img/image_box_1/7.jpg">-->
<!--                                    <div><a class="box-image__bg" href="assets/img/image_box_1/7.jpg" style="background-image: url('assets/img/image_box_1/7.jpg');" data-effect="mfp-zoom-in"><img src="assets/img/image_box_1/7.jpg" alt="">-->
<!--                                        <div class="box-image__info">-->
<!--                                            <h4 class="box-image__country">Tokyo</h4>-->
<!--                                            <p class="box-image__tour">201</p>-->
<!--                                        </div></a></div>-->
<!--                                </div>&lt;!&ndash; End / box-image &ndash;&gt;-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="grid-item" style="position: absolute; left: 900px; top: 300px; width: 300px;">-->
<!--                        <div class="grid-item__inner">-->
<!--                            <div class="grid-item__content-wrapper">-->

<!--                                &lt;!&ndash; box-image &ndash;&gt;-->
<!--                                <div class="box-image" href="assets/img/image_box_1/8.jpg">-->
<!--                                    <div><a class="box-image__bg" href="assets/img/image_box_1/8.jpg" style="background-image: url('assets/img/image_box_1/8.jpg');" data-effect="mfp-zoom-in"><img src="assets/img/image_box_1/8.jpg" alt="">-->
<!--                                        <div class="box-image__info">-->
<!--                                            <h4 class="box-image__country">Seoul</h4>-->
<!--                                            <p class="box-image__tour">128</p>-->
<!--                                        </div></a></div>-->
<!--                                </div>&lt;!&ndash; End / box-image &ndash;&gt;-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End / Section -->

<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="ftr-grids-block">
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="login.html">Your Account</a></li>
                        <li><a href="/missionary/contacts">Contact Us</a></li>
                        <li><a href="product.html">Location</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="terms.html">Website Terms</a></li>
                        <li><a href="/missionary/services">Services</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid-icon">
                    <ul>
                        <li><a href="#"><span class="u-tub"> </span></a></li>
                        <li><a href="#"><span class="instro"> </span></a></li>
                        <li><a href="#"><span class="twitter"> </span></a></li>
                        <li><a href="#"><span class="fb"> </span></a></li>
                        <li><a href="#"><span class="print"> </span></a></li>
                    </ul>
                    <form>
                        <input class="email-ftr" type="text" value="Newsletter" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Newsletter';}">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="copy-rights">
                <p>© 2024. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>