<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a href="/missionary" class="navbar-brand">Missionaries</a>
                </div>

                <div class="navbar-collapse collapse" id="mobile_menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/missionary">Home</a></li>
                        <li  class="active"><a href="/missionary/aboutUs">About us</a></li>
                        <li><a href="/missionary/supports">Services</a></li>
                        <li><a href="/missionary/contacts">Contacts</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li th:if="${#authentication.principal == 'anonymousUser'}">
                                    <a th:href="@{/missionary/login}">Login</a>
                                </li>
                                <li th:if="${#authentication.principal == 'anonymousUser'}">
                                    <a href="/missionary/registration">Sign Up</a>
                                </li>
                                <li th:if="${#authentication.principal != 'anonymousUser'}">
                                    <a href="/missionary/profile"><span class="glyphicon glyphicon-user"></span>Profile</a>
                                </li>
                                <li th:if="${#authentication.principal != 'anonymousUser'}">
                                    <form th:action="@{/missionary/logout}" method="post" style="display: inline;">
                                        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                        <button type="submit" id="logout" style="">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>My Profile</h1>

<div class="profile-info">
    <p><strong>Email:</strong> <span th:text="${user.email}">example@example.com</span></p>
    <p><strong>First Name:</strong> <span th:text="${user.firstName}">John</span></p>
    <p><strong>Last Name:</strong> <span th:text="${user.lastName}">Doe</span></p>
</div>


<a th:href="@{/missionary/profile/edit}" class="btn btn-primary">Edit Profile</a>

<!-- Ссылка на выход -->
<form th:action="@{/missionary/logout}" method="post" style="display: inline;">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>


<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="ftr-grids-block">
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                        <li><a href="product.html">...</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="login.html">Your Account</a></li>
                        <li><a href="/missionary/contacts">Contact Us</a></li>
                        <li><a href="product.html">Location</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="terms.html">Website Terms</a></li>
                        <li><a href="/missionary/supports">Services</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid-icon">
                    <ul>
                        <li><a href="#"><span class="u-tub"> </span></a></li>
                        <li><a href="#"><span class="instro"> </span></a></li>
                        <li><a href="#"><span class="twitter"> </span></a></li>
                        <li><a href="#"><span class="fb"> </span></a></li>
                        <li><a href="#"><span class="print"> </span></a></li>
                    </ul>
                    <form>
                        <input class="email-ftr" type="text" value="Newsletter" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Newsletter';}">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="copy-rights">
                <p>© 2024. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>